.container
  .row
    .col-md-12
      .form((keyup.enter)='addBlock()')
        .input-group
          input.form-control(type='text',
            [(ngModel)]='newBlock',
            name='block',
            placeholder='Engellenecek Twitter kullanıcısının adını yazınız'
          )
          .input-group-btn
            button.btn.btn-default(type='submit', (click)='addBlock()') Ekle
            button.btn.btn-warning(type='button', (click)='fileInput.click()',
              [disabled]='uploading', tooltip='Yükle')
              i.fa.fa-upload(*ngIf='!uploading')
              i.fa.fa-spinner.fa-spin(*ngIf='uploading')
            <input #fileInput type='file' name='list' class='hidden' (change)='onFileChanged($event)' />
      br
  .row
    .col-md-12
      p.text-center(*ngIf='uploading')
        | Kayıtlar aktarılıyor...
      p.text-center(*ngIf='!uploading')
        span(*ngIf='count===-1') Kayıtlar listeleniyor...
        span(*ngIf='count===0') Kayıt bulunamadı!
        span(*ngIf='count>0') Toplam {{count}} engellenmiş hesap bulundu:
      br
  .row(infiniteScroll,
      [infiniteScrollDistance]='0.1',
      [infiniteScrollThrottle]='50',
      (scrolled)='onScroll()'
    )
    .col-md-3(*ngFor='let block of blocks')
      .panel.panel-default
        .panel-body
          p.text-center
            img.profile-image.img-circle([src]='block.profile.profile_image_url_https', width='48', height='48')
          h4.text-center
            a([attr.href]='"https://www.twitter.com/" + block.username', target='_blank') {{block.username}}
          p.text-center
            span(*ngIf='block.isDeleted') Silinmiş
            a.trash(*ngIf='!block.isDeleted', (click)='delete(block)')
              span.fa.fa-trash.fa-2x