form.container.centered((keypress.enter)='reset()',
    [ngClass]="{ 'validated': validated && !submitted }",
    autocomplete='off'
)
    .row
        .col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
            .panel.panel-default.form
                .panel-heading
                    h4.text-center
                        span Parola Sıfırlama
                .panel-body
                    .form-group
                        label(for='email') E-Posta Adresi:
                        input#email.form-control(type='email',
                            name='email',
                            [(ngModel)]='email',                            
                            email,
                            required,
                            [pattern]='emailRegExp',                     
                            (keydown.space)='$event.preventDefault();',
                            autofocus
                        )
                    .form-group(*ngIf='isReset')
                        label(for='password') Yeni Parola:
                        input#password.form-control(type='password',
                            name='password',
                            required,
                            [(ngModel)]='password',
                            (keydown.space)='$event.preventDefault();'
                        )                        
                .panel-footer
                    .row
                        .col-xs-12.col-md-6.captcha-col
                            captcha([text]='captcha', (onChange)="captcha = $event.value")                            
                        .col-xs-12.visible-xs.visible-sm &nbsp;
                        .col-xs-12.col-md-6.text-right
                            a.btn.btn-default(routerLink='/giris')
                                | Giriş Yap
                            | &nbsp;&nbsp;
                            button.btn.btn-primary(type='submit', (click)='reset()', [disabled]='submitted')
                                span(*ngIf='!submitted')
                                    span(*ngIf='!isReset') Gönder
                                    span(*ngIf='isReset') Sıfırla
                                i.fa.fa-spinner.fa-spin(*ngIf='submitted')
